.example-refresh {
  padding-top: 45px;
  .example-refresh-content {
    .operate-group {
      display: flex; padding: 10px;
      .orange-button  { margin: 0 5px; }
    }
    .item-sssss {
      width: 100%;
      height: 100px;
      background: #555555;
      color: white;
      font-size: 40px;
      text-align: center;
      line-height: 100px;
      margin-bottom: 20px;
    }
  }
}