.index-container {
  .title {height: 150px; display: flex; justify-content: center; align-items: center; color: white; background: #9432cd;}
  .function-list {padding: 0 20px;}
  .function-list li {padding: 10px;}
}