.example-exposure {
    padding-top: 45px;
    .example-exposure-content {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 15px;
      .exposure-item {
        width: 100%;
        height: 100px;
        background: #9052ce;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: bold;
        color: white;
        margin-bottom: 15px;
      }
    }
  }