// theme
$color: #fff;
$background-color: #fd6328;

// button
$button-color: $color;
$button-background-color: $background-color;

// navbar
$navbar-color: $color;
$navbar-background-color: $background-color;
